.card{
    position: relative;

    height: 100%;

    border-radius: 30px;
    border: 1px solid var(--border-text-color);
    background: var(--bg-color);
    
    transition: .5s;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    }

    &__like{
        position: absolute;
        width: 32px;
        height: 32px;
        top: 5px;
        left: 5px;
        border: 1px solid var(--border-text-color);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);
        
        color: var(--border-text-color);
        z-index: 7;
        cursor: pointer;
        transition: .5s;

        &:hover{
            color: var(--bg-color);
            background-color: var(--icon-like-hover);
        }

        &.active{
            color: var(--bg-color);
            background: linear-gradient(#ffcbcb, var(--icon-like-hover));
        }

        & i{
            font-size: 18px;
        }
    }

    &__image{
        position: relative;
        margin: 20px 30px 0;

        max-width: rem(392px);
        margin-bottom: 0;

        border-radius: 15px;

        overflow: hidden;

        &::before{
            content: "";

            $card-width: 300px;
            $card-height: 420px;
            padding-top: percentage($card-height / $card-width);

            display: block;
        }

        &-pic{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
            font-family: "object-fit: cover";
        }
    }

    &__box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__body{
        position: static;
        display: flex;
        flex-direction: column;

        width: 100%;
        max-height: 100%;

        padding: 0 20px 20px;
    }

    &__title{
        font-size: 14px;
        line-height: 1.2;
        margin-top: 14px;
        margin-bottom: 14px;
        height: 34px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__text{
        font-size: 11px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        color: var(--second-text-color);
    }

    &__price{
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
    }

    &__btn{
        width: 32px;
        height: 32px;
        border: 1px solid var(--border-text-color);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--border-text-color);
        background-color: var(--bg-color);
        
        cursor: pointer;
        transition: .5s;

        &:hover{
            opacity: .8;
            color: var(--bg-color);
            background-color: var(--icon-plus-hover);
        }

        &.active{
            color: var(--bg-color);
            background: linear-gradient(var(--icon-plus-hover), #069009);
        }
    }
}