.basket{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 101;

    &__content{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 430px;
        height: 100%;
        right: 0;
        background-color: var(--bg-color);
        box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);
        z-index: 101;
        padding: 30px;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{
        color: var(--text-color);
        font-size: 30px;
        transition: .5s;
        background-color: transparent;
        border: none;
        cursor: pointer;


        &:hover{
            opacity: .8;
        }
    }

    &__list{
        overflow: auto;
        overflow-x: hidden;
        flex: 1;
    }

    &__item{

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        align-items: center;
    }

    &__img{
        margin-bottom: 20px;

        &-pic{
            width: 150px;
            height: 100%;
        }
    }

    &__titl{
        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &__txt{
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.4;
        margin-bottom: 40px;
    }

    &__block{
        display: flex;
        justify-content: space-between;
        align-items: end;
        font-size: 16px;
        line-height: 1.2;
        column-gap: 20px;        

        &:not(:last-child){
            margin-bottom: 20px;
            border-bottom: 1px dotted var(--text-color-gray);
        }
    }

    &__price{
        font-weight: 600;
    }

    &__botton{
        margin-top: 30px;
    }

    &__btn{
        font-size: 16px;
        // width: 245px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 0;
        width: 100%;
        border-radius: 18px;
        background: #9DD458;
        color: var(--bg-color);
        border: none;
        cursor: pointer;
        transition: .5s;

        &:hover{
            opacity: .8;
        }

        & i{
            color: var(--bg-color);
            font-size: 20px;
            margin-left: 30px;
        }

        & .rotate{
            order: 0;
            transform: rotate(180deg);
            margin-left: 0;
            margin-right: 30px;
        }

        &:disabled{
            background: var(--second-text-color);
            cursor: default;

            &:hover{
                opacity: 1;
            }
        }
    }

}