.header{

    background-color: var(--bg-color);

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background: #EAEAEA;
    }

    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 128px;
        column-gap: 20px;
    }

    &__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
    }

    &__title{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.2;
    }

    &__text{
        font-size: 14px;
        color: var(--second-text-color);
        line-height: 1.2;
    }

    &__list{
        display: flex;
        column-gap: 30px;
    }

    &__item{
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__icon{
        font-size: 40px;
        color: var(--text-color);
    }

    &__price{
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
        color:  var(--second-text-color);
    }

    &__link{
        font-size: 18px;

        display: flex;
        align-items: center;
        column-gap: 15px;
        color: var(--second-text-color);
        text-decoration: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: .5s;

        &:hover{
            color: var(--icon-hover);
        }
    }
}